input[type="text"], textarea, select {
  border: 0;
  outline: none;
  font-weight: 300;
  color: rgba(0,18,55,1);
  box-shadow: none;
  border-radius: rem-calc(2);
}
input[type="text"] {
  padding: rem-calc(25 20);
}
select {
  padding: rem-calc(0 0 0 20);
  height: rem-calc(50);
  background-image: url("../img/select_arrow.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: rem-calc(50);
}
textarea {
  min-height: rem-calc(100);
  padding: rem-calc(15 20);
}
input[type="text"]:focus, textarea:focus, select:focus {
  border: 0;
  outline: none;
  font-weight: 300;
  color: rgba(0,18,55,1);
  box-shadow: none;
}