@import 'util/util';
header {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: rem-calc(64 0);
  background-image: linear-gradient( -180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
}
header .logo {
  .one {
    fill: #ffffff;
  }
  .two {
    fill: #01b4ff;
  }
}
header nav {
  font-size: rem-calc(12);
  text-transform: uppercase;
  font-weight: 500;
  padding: rem-calc(10 0);
}
header nav a {
  padding: rem-calc(8);
  display: inline-block;
  color: rgba(255,255,255,.7);
}
header nav a:hover {
  color: rgba(255,255,255,1);
}
header .contact a {
  display: inline-block;
  vertical-align: middle;
  color: rgba(255,255,255,1);
  font-weight: 500;
}
header .contact a.fb {
  margin: rem-calc(12 0 12 12);
  svg {
    .icon {
      fill: #01b4ff;
    }
    .face {
      fill: #ffffff;
    }
  }
}
header .contact a.phone {
  margin-bottom: rem-calc(4);
}