@import 'util/util';
@import "header";
@import "form";
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
//Titles and text
h1 {
  font-size: rem-calc(34);
  font-weight: 400;
  word-spacing: rem-calc(2);
}
h2 {
  font-size: rem-calc(24);
  color: #001237;
  font-weight: 400;
  line-height: rem-calc(28);
  margin-bottom: rem-calc(40);
}
h3 {
  font-size: rem-calc(18);
  color: #001237;
  font-weight: 400;
  line-height: rem-calc(22);
}
h4 {
  font-size: rem-calc(18);
  color: #001237;
  font-weight: 500;
  line-height: rem-calc(22);
}
h4 svg {
  display: inline-block;
  vertical-align: middle;
}
.description {
  font-size: rem-calc(18);
  color: rgba(255,255,255,.7);
}
.description.min {
  font-size: rem-calc(12);
}
//Button
.button {
  border-radius: rem-calc(2);
  box-shadow: rem-calc(0 2 5 0) rgba(0,0,0,.1);
  text-transform: uppercase;
  font-size: rem-calc(14);
  font-weight: 700;
  padding: rem-calc(15 40);
}


//Global
a {
  transition: all 400ms linear;
}
.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}
.filter.vcenter {
  display: table;
  .container {
    display: table-cell;
    vertical-align: middle;
  }
}
.no-padding {
  padding: 0;
}
//Wrappers and boxes
.wrapper {
  padding: rem-calc(70 0);
}
.wrapper.gray {
  background-color: #f0f0f0;
}
.wrapper.gray-light {
  background-color: #f8f8f8;
}
.wrapper.blue-dark {
  background-color: #071029;
}
.box {
  margin-top: rem-calc(30);
  padding: rem-calc(30);
  color: rgba(255,255,255,1);
  font-size: rem-calc(14);
  font-weight: 300;
  border-radius: rem-calc(2);
  cursor: default;
}
.box.blue {
  background-color: rgba(1,180,255,1);
}
.box.black {
  background-color: rgba(0,0,0,.7);
}
.box svg {
  margin-top: rem-calc(5);
}
.box svg .arrow {
  stroke: rgba(255,255,255,.3);
  stroke-width:2px;
  fill:none;
  fill-rule:evenodd;
  display: inline-block;
  vertical-align: middle;
}
.box h2 {
  color: rgba(255,255,255,1);
  margin-bottom: rem-calc(3);
}
.box .button {
  width: 100%;
  text-align: center;
  padding: rem-calc(15);
  margin-bottom: 0;
  background-color: rgba(255,255,255,.2);
}
.box .button:hover {
  background-color: rgba(255,255,255,.35);
}

//Screens//----------------------------------------->
section#first_screen {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/img/first_screen.jpg");
  background-position: center top;
  background-size: cover;
  color: rgba(255,255,255,1);
}
section#first_screen .info_container {
  cursor: default;
}
section#first_screen .info_container a.button {
  margin-bottom: rem-calc(10);
  margin-top: rem-calc(50);
}
@include breakpoint(large) {
  section#first_screen .info_container h1 {
    margin-top: rem-calc(150);
  }
  section#first_screen .info_container a.button {
    margin-top: rem-calc(100);
  }
}
//--------------------------------------------------->
section#course_program .container_item {
  background-color: rgba(255,255,255,1);
  color: #777777;
  font-size: rem-calc(14);
  line-height: rem-calc(16);
  padding: rem-calc(35 30);
  border: rem-calc(1) solid #f0f0f0;
  cursor: pointer;
  transition: all 400ms linear;
}
section#course_program .container_item:hover {
  background-color: rgba(255,255,255,.6);
}
@include breakpoint(large) {
  section#course_program .container_item {
    min-height: rem-calc(190);
  }
  section#course_program .container_item:last-child {
    min-height: auto;
  }
}
//--------------------------------------------------->
section#result .container_item {
  cursor: default;
  line-height: rem-calc(18);
  color: rgba(0,0,0,.6);
  word-spacing: rem-calc(3);
  margin-bottom: rem-calc(30);
  min-height: rem-calc(100);
}
section#result .container_item svg {
  width: rem-calc(42);
  margin-right: rem-calc(5);
}
section#result .container_item h4#icon_education {
  margin-bottom: rem-calc(2);
}
section#result .container_item h4#icon_education svg {
  width: rem-calc(48);
}
section#result .container_item.long {
  margin-bottom: 0;
  svg {
    vertical-align: text-top;
  }
  span {
    display: block;
    padding-left: rem-calc(55);
    font-size: rem-calc(16);
    font-weight: 400;
    margin-top: rem-calc(-16);
    color: rgba(0,0,0,.6);
  }
}
section#result .footnote {
  font-size: rem-calc(12);
  color: rgba(0,18,55,.6);
}
//--------------------------------------------------->
section#teacher {
  cursor: default;
  text-align: center;
  color: rgba(0,0,0,.6);
}
section#teacher .title {
  margin-bottom: rem-calc(60);
}
section#teacher .title h2{
  margin-bottom: rem-calc(20);
}
section#teacher .container_item .photo {
  width: rem-calc(134);
  height: rem-calc(134);
  border-radius: rem-calc(67);
  background-color: rgba(1,180,255,1);
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: rem-calc(30);
  background-position: center;
  background-size: cover;
}
section#teacher .container_item .name {
  font-size: rem-calc(18);
  font-weight: 500;
}
section#teacher .container_item .post {
  font-size: rem-calc(14);
  font-weight: 300;
  color: rgba(0,0,0,.6);
}
//--------------------------------------------------->
section#about {
  cursor: default;
  color: rgba(255,255,255,1);
  font-size: rem-calc(14);
  line-height: rem-calc(16);
  font-weight: 300;
}
section#about b {
  font-weight: 500;
}
section#about h2 {
  color: rgba(255,255,255,1);
  margin-bottom: rem-calc(30);
}
section#about .bird {
  background-image: url("../img/bird.jpg");
  background-size: 140%;
  background-position: rem-calc(-200 -70);
  background-repeat: no-repeat;
  height: rem-calc(330);
}
//--------------------------------------------------->
section#form form {
  padding: rem-calc(50 65);
  border: rem-calc(6) solid rgba(1,180,255,1);
  background-color: rgba(1,180,255,0);
  transition: all 400ms linear;
}
section#form form:hover {
  background-color: rgba(1,180,255,1);
  h2 {
    color: rgba(255,255,255,1);
  }
  button.button {
    background-color: rgba(255,255,255,.2);
    transition: all 400ms linear;
  }
  button.button:hover {
    background-color: rgba(255,255,255,.35);
  }
}
section#form form h2 {
  margin-bottom: rem-calc(30);
  transition: all 400ms linear;
}
section#form form button {
  margin-top: rem-calc(15);
}
.more_course {
  padding-top: rem-calc(55);
}
.more_course h2 {
  margin-bottom: rem-calc(5);
}
.more_course .description {
  color: rgba(0,0,0,.6);
  font-size: rem-calc(14);
  margin-bottom: rem-calc(20);
}
.more_course .info_container {
  border-radius: rem-calc(2);
  background-color: rgba(255,255,255,1);
  box-shadow: rem-calc(0 2 5 0) rgba(0,0,0,.05);
  margin-bottom: rem-calc(15);
  font-size: rem-calc(18);
}
.more_course .info_container .course {
  padding: rem-calc(10 20);
}
.more_course .info_container .course span {
  color: rgba(0,0,0,.6);
  font-size: rem-calc(14);
  display: block;
}
.more_course .info_container button {
  font-size: rem-calc(12);
  line-height: rem-calc(68);
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0,0,0,.4);
  border-left: rem-calc(1) solid #f0f0f0;
}

//--------------------------------------------------->
section#last_screen {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/img/last_screen.jpg");
  background-position: center top;
  background-size: cover;
  color: rgba(255,255,255,1);
}
section#last_screen .info_container {
  cursor: default;
  padding-top: rem-calc(140);
}
section#last_screen .info_container a#map {
  margin-top: rem-calc(40);
}
section#last_screen .copyright {
  position: absolute;
  z-index: 2;
  padding: rem-calc(20);
  text-align: center;
  width: 100%;
  font-size: rem-calc(14);
  font-weight: 300;
  color: rgba(255,255,255,.6);
  bottom: 0;
}
@include breakpoint(large) {
  section#last_screen .info_container .box {
    margin-top: rem-calc(70);
  }
}
//Map//---------------------------------------------->
#map_container {
  display: block;
  z-index: -1;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00abff;
  top:0;
  right: 0;
  transition: all 1000ms linear;
  opacity: 0;
  .closemap {
    width: rem-calc(46);
    height: rem-calc(46);
    border-radius: rem-calc(46);
    position: absolute;
    right: rem-calc(30);
    top: rem-calc(30);
    padding: rem-calc(13 16);
    background-color: rgba(52,152,219,1);
    z-index: 10;
    cursor: pointer;
    svg {
      width: rem-calc(14);
      height: rem-calc(14);
      fill: none;
      .icon {
        fill: rgba(255,255,255,1);
      }
    }
  }
}
#map_container.open {
  visibility: visible;
  z-index: 1;
  opacity: 1;
}